*{
  box-sizing: border-box;
}

img{
  width: 30%;
  height: 250px;
  margin-left: 36%;
  margin-top: 550px;
  border-radius: 45%;
}
.buttons{
  margin-left: 15%;
}
button{
  width: 20%;
  height: 100px;
  color: orange;
  background-color: gray;
  font-size: 20px;
}
.left{
  margin-right: 43%;

}
body {
   background-image: url('tiger1.jpg');
   background-repeat:no-repeat;
   background-size: cover;
   background-color: navy;
   background-position: center;
   font-family: dfont;
}
h1{
  color: navy;
  outline: inherit;
  outline-color: orange;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}
h2{
  color: white;
  font-size: 60px;
  text-align: center;
}

 /* <---Responsiveness---> */
 @media screen and (min-width: 400px){

img {
    width: 30%;
    height: 170px;
    margin-left: 35%;
    margin-top: 390px;
    border-radius: 45%;
    margin-bottom: 30px;

   }
 }

 @media screen and (min-width: 768px){
   img{
     width: 35%;
    height: 270px;
    margin-left: 32%;
    margin-top: 550px;
    border-radius: 45%;
    margin-bottom: 120px;
   }
 }

 @media screen and (min-width: 1024px){
   img{
     width: 35%;
    height: 335px;
    margin-left: 33%;
    margin-top: 682px;
    border-radius: 45%;
   }
 }
